<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


        
<!-- <#if frontArticle??>

    <div class="jumbotron">
        <h1>
            <a href="/article/${frontArticle.id}">${frontArticle.title}</a>    
        </h1>  
        <p>${frontArticle.postedAt?date}</p>  
        <p>${frontArticle.content?no_esc}</p>
    </div>
</#if>

<hr/>

<#if olderArticles??>
    
    <#list olderArticles as article>
        <h3>
            <a href="/article/${article.id}">${article.title}</a>    
        </h3>  
        <p>${article.postedAt?date}</p>  
    </#list>
    
</#if> -->

Candidates For election: 
<#list [{"id":25234,"name":"Harsh","votes":"10"},{"id":325432,"name":"brbgrg","votes":"20"},{"id":45435,"name":"Darsh","votes":"13"},{"id":45345,"name":"sgrwg","votes":"14"}] as hacker>
        <h3>
            <a href="/hacker/${hacker.id}">${hacker.name}</a>    
        </h3>  
        <p>${hacker.votes}</p>  
    </#list>

</@layout.myLayout>